<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:include="header.html"></div>
	<h2>터미널 수정</h2>
	<hr>
	<div align="center">
		<form action="/busstation/update" method="post" enctype="multipart/form-data">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			<input type="hidden" name="stationno" th:value="${busstation.stationno }">
			<input type="hidden" name = "filename" th:value="${busstation.filename }">
			<table width="50%" border="1">
				<tr>
					<td>터미널번호 : <span th:text="${busstation.stationno}" id="stationno" th:value="${busstation.stationno}"></span></td>	
				</tr>
				<tr>
					<td>터미널이름 : <input type="text" name="stationname" th:value="${busstation.stationname}" /></td>
				</tr>
				<tr>
					<td>터미널주소 : <input type="text" name="address" th:value="${busstation.address}" size="35"></td>
				</tr>
				<tr>
					<td>첨부파일:<input type = "file" name = "uploadFile"></td>
						<span th:text="${busstation.filename} "></span></td>
					<div th:if="${busstation.filename} != null">
						<!--이미지파일일때-->
						<div th:if="${#strings.endsWith(busstation.filename, '.jpg')} or ${#strings.endsWith(busstation.filename, '.png')} or ${#strings.endsWith(busstation.filename, '.gif')}">
							<img th:src="@{'/images/terminal/'+${busstation.filename}}" width="100" height="100">
						</div>
						<!--이미지파일이 아닐때(바깥이 ""이라서 ''로 묶어-->
						<div th:unless="${#strings.endsWith(busstation.filename, '.jpg')} or ${#strings.endsWith(busstation.filename, '.png')} or ${#strings.endsWith(busstation.filename, '.gif')}">
							<a th:href="@{'/images/terminal/'+${busstation.filename}}" th:text="${busstation.filename}"></a>
							<!--파일이름 =>누르면 그파일이 있는 위치가들어가는거야-->
						</div>
					</div>
				</tr>
				<hr>
				<tr align="right">
					<td><input type="submit" value="수정"></td>
				</tr>
			</table>
		</form>
	</div>
	<div th:include="footer.html"></div>
</body>
</html>