<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bus Reservation List</title>
</head>
<body>
	<div th:include="header.html"></div>
    <div align="center">
        <table width="100%">
            <tr align="right">
                <td colspan="9">
					<a href="/busresv/insert">예약 등록</a>
                </td>
            </tr>
            <tr>
		        <th>예약번호</th>
				<th>예약한 사람</th>
				<th>버스 번호</th>
				<th>노선 번호</th>
				<th>자리</th>
				<th>사용한 포인트</th>
				<th>적립 포인트</th>
				<th>예약 날짜</th>
				<th>수정/삭제</th>
		    </tr>

            <tr th:if="${#lists.isEmpty(list)}">
        		<td colspan="9">등록된 버스 예약이 없습니다.</td>
    		</tr>
            <tr th:each="br : ${list}">
                <td th:text="${br.resvno}"></td>
                <td th:text="${br.id}"></td>
                <td th:text="${br.busno}"></td>
                <td th:text="${br.roadno}"></td>
                <td th:text="${br.seat}"></td>
                <td th:text="${br.usepoint}"></td>
                <td th:text="${br.savepoint}"></td>
                <td th:text="${br.resvdate}"></td>
                <td>
					<a th:href="@{'/busresv/delete/'+${br.resvno}}" th:text="삭제"></a>
					<a th:href="@{'/busresv/update/'+${br.resvno}}" th:text="수정"></a>
                </td>
            </tr>   
        </table>    
    </div>
    <div th:include="footer.html"></div>
</body>
</html>
