<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>예약 리스트</title>
</head>
<body>
	<div th:include="header.html"></div>
	<div align="center">
		<h2 align="center">예약 리스트</h2>
		<hr color="green" width="300">
		<table width="1100">
			<tr align="right">
				<td colspan="8">
					<a href="/busroad/insert">예약 등록</a>
				</td>
			</tr>
		</table>
		<table width="100%" border="1">
			<thead>
		    	<tr>
					<th>노선번호</th>
					<th>버스번호</th>
					<th>노선 등록 회원</th>
					<th>출발지</th>
					<th>도착지</th>
					<th>가격</th>
					<th>출발시간</th>
					<th>도착시간</th>
					<th>수정/삭제</th>
				</tr> 
	    	</thead>
		    <tbody>
		    	<tr th:if="${#lists.isEmpty(list)}">
					<td colspan="9">등록된 노선이 없습니다.</td>
				</tr>
				<tr th:each="b: ${list}" align="center">
					<td th:text="${b.roadno}"></td>
					<td th:text="${b.busno}"></td>
					<td th:text="${b.arrival}"></td>
					<td th:text="${b.departure}"></td>
					<td th:text="${b.price}"></td>
					<td th:text="${b.arrtime}시"></td>
					<td>
						<th:block th:if="${b.tottime + b.arrtime > 24}">
							<th:block th:text="${b.arrtime + b.tottime - 24}시"></th:block>
						</th:block>
						<th:block th:else>
							<th:block th:text="${b.tottime + b.arrtime}시"></th:block>
						</th:block>
					</td>
					<td>
						<th:block th:if="${user.position == 0}"><!-- 슈퍼 관리자 수정삭제 범위(전체) -->

							<a th:href="@{'/busroad/update/' + ${b.roadno}}" th:text="수정"></a> | 
							<a th:href="@{'/busroad/delete/' + ${b.roadno}}" th:text="삭제"></a>
						</th:block>
						<th:block th:if="${user.position == 1}"><!-- 버스관리자 수정삭제 범위 (버스관리자만)-->
							<th:block th:if="${b.name == user.name}">
								<a th:href="@{'/busroad/delete/'+${b.resvno}}" th:text="삭제"></a>
								<a th:href="@{'/busroad/update/'+${b.resvno}}" th:text="수정"></a>
							</th:block>
						</th:block>
					</td>
				</tr>
		    </tbody>
	    </table>
	    <th:block th:each="i:${#numbers.sequence(1,totalPage)}">
        	<a th:href="@{'/busroad/list/'+${i}}" th:text="${i}"></a> 
		</th:block>
	<div th:include="footer.html"></div>
</body>
</html>
