<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:include="header.html"></div>
	<h2>버스 수정</h2>
	<hr>
	<div align="center">
		<form action="/bus/update" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			<input type="hidden" name="busno" th:value="${bus.busno }">
			<table width="50%" border="1">
				<tr>
					<td>버스번호 : 
					<span th:text="${bus.busno}" id="busno"></span></td>
				</tr>
				<tr>
					<td>버스등급 : 
					<select name="grade">
					    <option th:text="${bus.grade}" th:value="${bus.grade}" disabled selected></option>
					    <option th:if="${bus.grade == '일반'}" th:value="우등">우등</option>
					    <option th:if="${bus.grade == '우등'}" th:value="일반">일반</option>
					</select>
				</tr>
				<tr>
					<td>버스좌석수 : <input type="text" name="seat" th:value="${bus.seat}" /></td>
				</tr>s
				<tr align="right">
					<td><input type="submit" value="수정"></td>
				</tr>
			</table>
		</form>
	</div>
	<div th:include="footer.html"></div>
</body>
</html>